version: "3.8"

services:
  react-app:
    build:
      context: .
    container_name: customer-feedback-web
    ports:
      - "5173:5173"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - VITE_API_URL=http://localhost:8080
    stdin_open: true
    tty: true
