body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f4f6f9;
  margin: 0;
  padding: 0;
}

.container {    
  max-width: 800px;
  margin: 10px auto;
  background: #ffffff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

h1 {
  text-align: center;
  margin-bottom: 10px;
  color: #2c3e50;
}

h2 {
  margin-bottom: 10px;
  color: #2c3e50;
}

h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #2c3e50;
}

p.description {
  text-align: center;
  color: #6c757d;
  margin-bottom: 30px;
  &.completed {
    font-weight: bold;
  }
  &.error {
    color: firebrick;
  }
}

.form-group {
  margin-bottom: 25px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
  color: #34495e;
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 96.5%;
  padding: 12px;
  border: 1px solid #dcdcdc;
  border-radius: 6px;
  font-size: 14px;
  transition: border 0.3s ease;
}

input:focus,
select:focus,
textarea:focus {
  border-color: #3498db;
  outline: none;
}

.input.error {
  border-color: red;
}

.error-message {
  color: red;
  font-size: 14px;
  margin: 3px 0px;
}

.radio-group,
.checkbox-group {
  margin-top: 8px;
}

.radio-group label,
.checkbox-group label {
  font-weight: normal;
  display: block;
  margin-bottom: 5px;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

.category-pages{
  text-align: center;
}

.btn-submit {
  width: 100%;
  padding: 14px;
  border: none;
  background: #3498db;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;

  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn-submit-active:hover {
  background: #2980b9;
}

.btn-submit-inactive {
  opacity: 0.4;
  cursor: not-allowed;
}

/* Spinner */
.spinner {
  width: 18px;
  height: 18px;
  border: 3px solid #ffffff;
  border-top: 3px solid transparent;
  border-radius: 50%;

  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .container {
      padding: 20px;
      margin: 20px;
  }
}